body {
    background-color: #F6F6F6;
}


.App {
    background-color: white;
    min-height: 80vh;
    width: 400px;
    margin: 20px auto;
}

.crossed {
    text-decoration: line-through 2px red;
    background-color: #f0f0f0;
}

ul, li {
    flex: 0.3;
    text-align: center;
    justify-items: center;
    font-size: 25px;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.add {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background: #379237;
    width: 100px;
}

.delete {
    background: #EC524B;
    margin-bottom: 5px;
}

.btn {
    padding: 10px;
    border: none;
    width: 30%;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

input {
    flex: 0.3;
    padding: 8px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    text-align: center;
}

.prize {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    color: #158467;
}

